version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    env_file:
      - ./frontend/.env
    networks:
      - blog-network
    depends_on:
      - base
      - comments

  base:
    build:
      context: ./base
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./base:/app
    ports:
      - "8000:8000"
    env_file:
      - ./base/.env
    networks:
      - blog-network

  comments:
    build:
      context: ./comments
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - ./comments/.env
    networks:
      - blog-network

networks:
  blog-network:
    driver: bridge

volumes:
  postgres_data:
